.page {padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:url(images/bg-top.jpg) repeat-x;}


.page-wrapper {
	box-shadow: 0px 0px 120px 0px  rgba(0,0,0,0.4);
	width:1080px;
	margin:0px auto 0px;
}
.header-wrapper {
	z-index:1000;
	color:#84748e;
	margin:0px auto 0px;
}
.logo {
	padding:20px 0px 15px 0px;
	text-align:center;
}


.nav-wrapper {
	z-index:900;
	background:#391032 url(images/bg-nav.jpg) repeat-x;
	color:#f7f7f7;
	font-size:28px;
	margin:80px auto;
	font-family:"Bilbo Swash Caps", Verdana, Geneva, sans-serif;
	font-weight:400;
}

.content-wrapper {
	margin:0px auto;
	padding:10px 0px 0px 0px;
	background:#f2f2f2;
	 min-height:400px;
}

.content-wrapper .container {padding: 200px 35px 30px;}
.content-wrapper h1 {
	font-size:48px;
}
